.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 8;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 9;
}
.cdk-overlay-backdrop {
  width: 100%;
  height: 100%;
}
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.288);
}
